
<div class="row">
  <div class="col-md-2">
  <h1><%= @team.name %></h1>
    <table class="table table-striped">
      <tr>
        <td><strong>Game:</strong></td>
        <td><%= @team.game.name %></td>
      </tr>

      <tr>
        <td><strong>Year:</strong></td>
        <td><%= @team.year %></td>
      </tr>

      <tr>
        <td><strong>Location:</strong></td>
        <td><%= @team.location %></td>
      </tr>
    </table>

    <% if current_user and @team.accepted_members.include?(current_user) and current_user.is_leader_of(@team) %>
        <%= link_to('Edit team', edit_team_path(@team), class:"btn btn-sm btn-warning" ) %>
        <%= link_to('Destroy team', @team, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-danger" ) %>
    <% elsif current_user and @team.accepted_members.include?(current_user) %>
        <%= link_to('Leave team', @membership, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-danger" ) if current_user.id == @membership.user_id %>
    <% end %>

  </div>
</div>

<%= render "members_and_invitations" %>

<% if current_user and current_user.is_member_of(@team) %>
  <%= render "team_ratings" %>
<% end %>
