<% #Bootstrap hoitaa noticet %>
<div class="row">
  <div class="col-md-4">
    <p>
      <strong>Name:</strong>
      <%= @team.name %>
    </p>

    <p>
      <strong>Game:</strong>
      <%= @team.game.name %>
    </p>

    <p>
      <strong>Year:</strong>
      <%= @team.year %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= @team.location %>
    </p>

    <% if current_user and @team.accepted_members.include?(current_user) and current_user.is_leader_of(@team) %>
        <%= link_to('Edit team', edit_team_path(@team), class:"btn btn-sm btn-warning" ) %>
        <%= link_to('Destroy team', @team, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-danger" ) %>
    <% elsif current_user and @team.accepted_members.include?(current_user) %>
        <%= link_to('Leave team', @membership, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-danger" ) if current_user.id == @membership.user_id %>
    <% end %>

  </div>
</div>

<%= render "members_and_invitations" %>
