<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  is a <%= @team.game.name %> team
</p>

<p>
  <strong>Year:</strong>
  <%= @team.year %>
</p>

<p>
  <strong>Location:</strong>
  <%= @team.location %>
</p>

<p>
  <strong>Members:</strong>
  <br>
  <% @team.members.each do |member| %>
      <%= link_to member.username, member %>
      <% if current_user && @team.members.include?(current_user) && current_user.memberships.where(team_id: @team.id).first.team_leader %>
        <% unless (Membership.where(team_id: @team.id, user_id: member.id).first.team_leader == true) %>
            <%= button_to "Make leader", 'makeleader', method: :post, data: { confirm: "Are you sure?", team_id: @team.id, newleader: member.id } %>
        <% end %>
      <% end %>
      <br>
  <% end %>
</p>

<% if current_user && @team.members.include?(current_user) && current_user.memberships.where(team_id: @team.id).first.team_leader %>
    <%= link_to('Edit team', edit_team_path(@team)) %>
    <%= link_to('Destroy team', @team, method: :delete, data: { confirm: 'Are you sure?' }) %>
<% elsif current_user && @team.members.include?(current_user) %>
    <%= link_to('Leave team', @membership, method: :delete, data: { confirm: 'Are you sure?' }) if current_user.id == @membership.user_id %>
<% end %>