<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @team.year %>
</p>

<p>
  <strong>Location:</strong>
  <%= @team.location %>
</p>

<p>
  <strong>Members:</strong>
  <br>
  <% @team.members.each do |member| %>
      <%= link_to member.username, member %>
      <br>
  <% end %>
</p>

<% if current_user && @team.members.include?(current_user) %>
    <%= link_to('Leave team', @membership, method: :delete, data: { confirm: 'Are you sure?' }) if current_user.id == @membership.user_id%>
    <%= link_to('Edit team', edit_team_path(@team)) %>
    <%= link_to('Destroy team', @team, method: :delete, data: { confirm: 'Are you sure?' }) %>
<% end %>
