<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <% if @user.teams.empty? %>
    Doesn't belong to any teams yet.
  <% else %>
    Belongs to the following teams:
      <br>
    <% @user.teams.each do |team| %>
      <%= link_to team.name, team %>
      <br>
    <% end %>
  <% end %>
</p>

<% if current_user && current_user.id == @user.id %>
    <%= link_to('Change password', edit_user_path(@user)) %><br>
    <%= link_to 'Delete your account', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>